#homePage {
    background-color: black;
    background-image: url(../assets/getimg_ai_img-kbWQrDSPnQUAyiJQD5ExZ.jpeg);
    background-size: cover;
}



#startbutton {
    display: flex;
    justify-content: center;
    
}
#buttondetails {
    background-color: orangered;
    font-family: fantasy;
    font-size: 50px;
    width: 300px;
    height: 100px;
}

#titlepic {
    display: flex;
    justify-content: center;
    height: 600px;
    
}
#page1{
    background-color: rgb(234, 125, 9);
    padding-left: 50px;
}
.box1{
    display: flex;
    height: 700px;
    width: 1400px;
    background-color: black;
    border: 10px solid;
    
    
}
.header{
    text-align: center;
    font-size: 50px;
    
}