#homePage {
    background-image: url(../assets/getimg_ai_img-kbWQrDSPnQUAyiJQD5ExZ.jpeg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
h2 {
    color: white;
}


#startbutton {
    display: flex;
    justify-content: center;
    margin-top: 30%;
    
}
#buttondetails {
    background-color: orangered;
    font-family: fantasy;
    font-size: 50px;
    width: 300px;
    height: 100px;
}

#titlepic {
    display: flex;
    justify-content: center;
    height: 600px;
    
}
#page1{
    background-color: rgb(234, 125, 9);
    padding-left: 50px;
}
.box1{
    display: flex;
    height: 700px;
    width: 1400px;
    background-color: black;
    border: 10px solid;   
}

.headerName{
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
    text-align: center;
    font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    
}
.box2{
    display: flex;
    height: 200px;
    width: 1400px;
    background-color: white;
    border: 10px solid;
    opacity: 35%;
}

